E-Commerce.Backend/.vs
E-Commerce.Backend/E-Commerce.Shared/obj
E-Commerce.Backend/E-Commerce.Persistence/obj
E-Commerce.Backend/E-Commerce.Infrastructure/obj
E-Commerce.Backend/E-Commerce.Infrastructure/bin
E-Commerce.Backend/E-Commerce.Domain/obj
E-Commerce.Backend/E-Commerce.Domain/bin
E-Commerce.Backend/E-Commerce.Application/obj
E-Commerce.Backend/E-Commerce.Api/obj
E-Commerce.Backend/E-Commerce.Application/bin
E-Commerce.Backend/E-Commerce.Api/bin
E-Commerce.Backend/E-Commerce.Persistence/bin
E-Commerce.Backend/E-Commerce.Shared/bin
JustCommerce.Backend/JustCommerce.Api/bin
JustCommerce.Backend/JustCommerce.Api/obj
JustCommerce.Backend/JustCommerce.Application/bin
JustCommerce.Backend/JustCommerce.Application/obj
JustCommerce.Backend/JustCommerce.Domain/bin
JustCommerce.Backend/JustCommerce.Domain/obj
JustCommerce.Backend/JustCommerce.Infrastructure/bin
JustCommerce.Backend/JustCommerce.Infrastructure/obj
JustCommerce.Backend/JustCommerce.Persistence/bin
JustCommerce.Backend/JustCommerce.Persistence/obj
JustCommerce.Backend/JustCommerce.Shared/obj
JustCommerce.Backend/JustCommerce.Shared/bin
JustCommerce.Backend/.vs
JustCommerce.Backend/src/JustCommerce.Api/obj
JustCommerce.Backend/src/JustCommerce.Api/bin
JustCommerce.Backend/src/JustCommerce.Application/obj
JustCommerce.Backend/src/JustCommerce.Application/bin
JustCommerce.Backend/src/JustCommerce.Domain/obj
JustCommerce.Backend/src/JustCommerce.Infrastructure/bin
JustCommerce.Backend/src/JustCommerce.Infrastructure/obj
JustCommerce.Backend/src/JustCommerce.Persistence/bin
JustCommerce.Backend/src/JustCommerce.Persistence/obj
JustCommerce.Backend/src/JustCommerce.Shared/obj
JustCommerce.Backend/src/JustCommerce.Shared/bin
JustCommerce.Backend/src/JustCommerce.Domain/bin
JustCommerce.Backend/tests/Application/Application.IntegrationTests/obj
JustCommerce.Backend/tests/Application/Application.UnitTests/obj
JustCommerce.Backend/tests/Application/Application.IntegrationTests/bin
JustCommerce.Backend/tests/Application/Application.UnitTests/bin
